@charset "UTF-8";
.flag {padding-top: 0px;background-image: url(../img/all-flags-sprite.png);background-repeat: no-repeat;height: 12px;width: 20px;}
#AFG {background-position:   0px 0px;}
#ALB {background-position: -20px 0px;}
#DZA {background-position: -40px 0px;}
#ASM {background-position: -60px 0px;}
#AND {background-position: -80px 0px;}
#AGO {background-position: -100px 0px;}
#AIA {background-position: -120px 0px;}
#ATG {background-position: -140px 0px;}
#ARG {background-position: -160px 0px;}
#ARM {background-position: -180px 0px;}
#ABW {background-position:   0px -12px;}
#AUS,#AUS2,#AUS3,#HMD {background-position: -20px -12px;}
#AUT,#AUT2 {background-position: -40px -12px;}
#AZE {background-position: -60px -12px;}
#BHS {background-position: -80px -12px;}
#BHR {background-position: -100px -12px;}
#BGD,#BGD2 {background-position: -120px -12px;}
#BRB {background-position: -140px -12px;}
#BLR {background-position: -160px -12px;}
#BEL,#BEL2 {background-position: -180px -12px;}
#BLZ {background-position:   0px -24px;}
#BEN {background-position: -20px -24px;}
#BMU {background-position: -40px -24px;}
#BTN {background-position: -60px -24px;}
#BOL {background-position: -80px -24px;}
#BIH {background-position: -100px -24px;}
#BWA {background-position: -120px -24px;}
#BRA,#BRA2 {background-position: -140px -24px;}
#VGB {background-position: -160px -24px;}
#BRN {background-position: -180px -24px;}
#BGR {background-position:   0px -36px;}
#BFA {background-position: -20px -36px;}
#BDI {background-position: -40px -36px;}
#KHM {background-position: -60px -36px;}
#CMR {background-position: -80px -36px;}
#CAN,#CAN2 {background-position: -100px -36px;}
#CPV {background-position: -120px -36px;}
#CYM {background-position: -140px -36px;}
#CAF {background-position: -160px -36px;}
#TCD {background-position: -180px -36px;}
#CHL {background-position:   0px -48px;}
#CHN,#CHN2,#CHN3,#CHN4,#CHN5,#CHN6 {background-position: -20px -48px;}
#COL,#COL2 {background-position: -40px -48px;}
#COM {background-position: -60px -48px;}
#COD {background-position: -80px -48px;}
#COG {background-position: -100px -48px;}
#COK {background-position: -120px -48px;}
#CRI {background-position: -140px -48px;}
#CIV, #CIV2 {background-position: -160px -48px;}
#HRV {background-position: -180px -48px;}
#CUB {background-position:   0px -60px;}
#CYP,#CYP2 {background-position: -20px -60px;}
#CZE,#CZE2 {background-position: -40px -60px;}
#DNK,#DNK2 {background-position: -60px -60px;}
#DJI {background-position: -80px -60px;}
#DMA {background-position: -100px -60px;}
#DOM {background-position: -120px -60px;}
#TLS {background-position: -140px -60px;}
#ECU {background-position: -160px -60px;}
#EGY {background-position: -180px -60px;}
#SLV {background-position:   0px -72px;}
#GNQ {background-position: -20px -72px;}
#ERI {background-position: -40px -72px;}
#EST,#EST2 {background-position: -60px -72px;}
#ETH {background-position: -80px -72px;}
#FLK {background-position: -100px -72px;}
#FRO {background-position: -120px -72px;}
#FJI {background-position: -140px -72px;}
#FIN,#FIN2 {background-position: -160px -72px;}
#FRA,#FRA2,#REU,#GUF,#ATF,#GLP,#NCL,#MYT,#MAF, #PYF {background-position: -180px -72px;}
#PYF {background-position:   0px -84px;}
#GAB {background-position: -20px -84px;}
#GMB {background-position: -40px -84px;}
#GEO {background-position: -60px -84px;}
#DEU,#DEU2 {background-position: -80px -84px;}
#GHA {background-position: -100px -84px;}
#GIB {background-position: -120px -84px;}
#GRC,#GRC2 {background-position: -140px -84px;}
#GRL {background-position: -160px -84px;}
#GRD {background-position: -180px -84px;}
#GUM {background-position:   0px -96px;}
#GTM {background-position: -20px -96px;}
#GIN {background-position: -40px -96px;}
#GNB {background-position: -60px -96px;}
#GUY {background-position: -80px -96px;}
#HTI {background-position: -100px -96px;}
#HND {background-position: -120px -96px;}
#HKG {background-position: -140px -96px;}
#HUN,#HUN2 {background-position: -160px -96px;}
#ISL,#ISL2 {background-position: -180px -96px;}
#IND,#IND2 {background-position:   0px -108px;}
#IDN,#IDN2 {background-position: -20px -108px;}
#IRN {background-position: -40px -108px;}
#IRQ {background-position: -60px -108px;}
#IRL,#IRL2 {background-position: -80px -108px;}
#ISR,#ISR2 {background-position: -100px -108px;}
#ITA,#ITA2 {background-position: -120px -108px;}
#JAM {background-position: -140px -108px;}
#JPN,#JPN2 {background-position: -160px -108px;}
#JOR {background-position: -180px -108px;}
#KAZ {background-position:   0px -120px;}
#KEN {background-position: -20px -120px;}
#KIR {background-position: -40px -120px;}
#PRK {background-position: -80px -120px;}
#KOR,#KOR2 {background-position: -100px -120px;}
#KWT {background-position: -120px -120px;}
#KGZ {background-position: -140px -120px;}
#LAO {background-position: -160px -120px;}
#LVA {background-position: -180px -120px;}
#LBN {background-position:   0px -132px;}
#LSO {background-position: -20px -132px;}
#LBR {background-position: -40px -132px;}
#LBY {background-position: -60px -132px;}
#LIE {background-position: -80px -132px;}
#LTU,#LTU2 {background-position: -100px -132px;}
#LUX,#LUX2 {background-position: -120px -132px;}
#MAC {background-position: -140px -132px;}
#MKD {background-position: -160px -132px;}
#MDG {background-position: -180px -132px;}
#MWI {background-position:   0px -144px;}
#MYS,#MYS2 {background-position: -20px -144px;}
#MDV {background-position: -40px -144px;}
#MLI {background-position: -60px -144px;}
#MLT {background-position: -80px -144px;}
#MHL {background-position: -100px -144px;}
#MTQ {background-position: -120px -144px;}
#MRT {background-position: -140px -144px;}
#MUS {background-position: -160px -144px;}
#MEX {background-position: -180px -144px;}
#FSM {background-position:   0px -156px;}
#MDA {background-position: -20px -156px;}
#MCO {background-position: -40px -156px;}
#MNG {background-position: -60px -156px;}
#MNE {background-position: -80px -156px;}
#MSR {background-position: -100px -156px;}
#MAR {background-position: -120px -156px;}
#MOZ {background-position: -140px -156px;}
#MMR {background-position: -160px -156px;}
#MMR2 {background-position: -160px -156px;}
#NAM {background-position: -180px -156px;}
#NRU {background-position:   0px -168px;}
#NPL {background-position: -20px -168px;}
#NLD,#NLD2,#ANT  {background-position: -40px -168px;}
#NZL {background-position: -60px -168px;}
#NIC {background-position: -80px -168px;}
#NER {background-position: -100px -168px;}
#NGA {background-position: -120px -168px;}
#NIU {background-position: -140px -168px;}
#MNP {background-position: -180px -168px;}
#NOR,#NOR2,#SJM,#BVT {background-position:   0px -180px;}
#OMN {background-position: -20px -180px;}
#PAK {background-position: -40px -180px;}
#PLW {background-position: -60px -180px;}
#PSE {background-position: -80px -180px;}
#PAN {background-position: -100px -180px;}
#PNG {background-position: -120px -180px;}
#PRY {background-position: -140px -180px;}
#PER {background-position: -160px -180px;}
#PHL {background-position: -180px -180px;}
#PCN {background-position:   0px -192px;}
#POL,#POL2 {background-position: -20px -192px;}
#PRT {background-position: -40px -192px;}
#PRI {background-position: -60px -192px;}
#QAT {background-position: -80px -192px;}
#ROU {background-position: -100px -192px;}
#RUS, #RUS2, #RUS3 {background-position: -120px -192px;}
#RWA {background-position: -140px -192px;}
#SHN {background-position: -160px -192px;}
#TDC {background-position: -160px -192px;}
#KNA {background-position: -180px -192px;}
#LCA {background-position:   0px -204px;}
#SPM {background-position: -20px -204px;}
#VCT {background-position: -40px -204px;}
#WSM {background-position: -60px -204px;}
#SMR {background-position: -80px -204px;}
#STP {background-position: -100px -204px;}
#SAU {background-position: -120px -204px;}
#SEN {background-position: -160px -204px;}
#SRB {background-position: -180px -204px;}
#SYC {background-position:   0px -216px;}
#SLE {background-position: -20px -216px;}
#SGP {background-position: -40px -216px;}
#SVK,#SVK2 {background-position: -60px -216px;}
#SVN,#SVN2 {background-position: -80px -216px;}
#SLB {background-position: -100px -216px;}
#SOM {background-position: -120px -216px;}
#ZAF {background-position: -140px -216px;}
#SSD {background-position: -160px -216px;}
#ESP,#ESP2 {background-position: -180px -216px;}
#LKA {background-position:   0px -228px;}
#SDN {background-position: -20px -228px;}
#SUR {background-position: -40px -228px;}
#SWZ {background-position: -60px -228px;}
#SWE,#SWE2 {background-position: -80px -228px;}
#CHE,#CHE2 {background-position: -100px -228px;}
#SYR {background-position: -120px -228px;}
#TWN {background-position: -140px -228px;}
#TJK {background-position: -160px -228px;}
#TZA {background-position: -180px -228px;}
#THA {background-position:   0px -240px;}
#TIBET {background-position: -20px -240px;}
#TLS {background-position: -40px -240px;}
#TLS2 {background-position: -40px -240px;}
#TGO {background-position: -60px -240px;}
#TKL {background-position: -80px -240px;}
#TON {background-position: -100px -240px;}
#TTO {background-position: -120px -240px;}
#TUN {background-position: -140px -240px;}
#TUR {background-position: -160px -240px;}
#TKM {background-position: -180px -240px;}
#TCA {background-position:   0px -252px;}
#TUV {background-position: -20px -252px;}
#UGA {background-position: -40px -252px;}
#UKR {background-position: -60px -252px;}
#ARE {background-position: -80px -252px;}
#GBR,#GBR2,#GBR3,#GBR4,#GBR5,#ACI {background-position: -100px -252px;}
#USA,#USA2,#USA3,#USA4,#USA5,#USA6,#USA7,#USA8,#USA9,#USA10,#USA11,#USA12,#USA13,#USA14,#USA15,#USA16 {background-position: -120px -252px;}
#UMI {background-position: -120px -252px;}
#URY {background-position: -140px -252px;}
#UZB {background-position: -160px -252px;}
#VUT {background-position: -180px -252px;}
#VAT {background-position:  0px -264px;}
#VA {background-position:   0px -264px;}
#VEN {background-position: -20px -264px;}
#VNM {background-position: -40px -264px;}
#VIR {background-position: -60px -264px;}
#WLF {background-position: -80px -264px;}
#ESH {background-position: -100px -264px;}
#YEM {background-position: -120px -264px;}
#ZMB {background-position: -140px -264px;}
#ZWE {background-position: -160px -264px;}
#IOT {background-position: -180px -264px;}
#CXR {background-position:   0px -276px;}
#CCK {background-position: -20px -276px;}
#GGY {background-position: -40px -276px;}
#IMN {background-position: -60px -276px;}
#JEY {background-position: -80px -276px;}
#NFK {background-position: -100px -276px;}
#BLM {background-position: -120px -276px;}
#SGS {background-position: -140px -276px;}