/* Overrides for WBG */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
:root {
    --action-color: hsl(204, 100%, 37%, 1);
    --action-color--hover: #009FDA;
    --wbg-gray: hsl(0, 0%, 20%, 1);
    --wbg-lightgray: hsl(0, 0%, 51%, 1);
    --wbg-lightbluegray: #E4E9EC;
    --light-border: solid 1px hsl(203, 17%, 91%, 1);
    --shadow-one: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --border-radius-sm: 4px;
}

html,
body {
    overflow-x: hidden;
    color: #444;
    font-size: 16px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}


/* blog base theme */


/* @media (min-width:48em) {
    html {
        font-size: 16px;
    }
} */

a {
    color: var(--action-color);
}

a:hover {
    color: var(--action-color--hover);
}

.btn-primary:hover {
    background: var(--action-color--hover);
    border-color: var(--action-color--hover);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #333
}

.h1 a,
.h1 a:focus,
.h1 a:hover,
.h2 a,
.h2 a:focus,
.h2 a:hover,
.h3 a,
.h3 a:focus,
.h3 a:hover,
.h4 a,
.h4 a:focus,
.h4 a:hover,
.h5 a,
.h5 a:focus,
.h5 a:hover,
.h6 a,
.h6 a:focus,
.h6 a:hover,
h1 a,
h1 a:focus,
h1 a:hover,
h2 a,
h2 a:focus,
h2 a:hover,
h3 a,
h3 a:focus,
h3 a:hover,
h4 a,
h4 a:focus,
h4 a:hover,
h5 a,
h5 a:focus,
h5 a:hover,
h6 a,
h6 a:focus,
h6 a:hover {
    color: inherit;
    text-decoration: none
}

.container {
    max-width: 60rem
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1)
}

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: var(--wbg-lightbluegray);
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
    background-color: transparent
}

.nav-link.active {
    color: #fff
}

.nav-link.active a {
    color: #fff
}

@media screen and (min-width: 991px) {
    .nav-link.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -.3rem;
        vertical-align: middle;
        content: "";
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid;
        border-left: .3rem solid transparent
    }
}

.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400
}

.blog-description {
    font-size: 1.1rem;
    color: #999
}

@media (min-width:40em) {
    .blog-title {
        font-size: 3.5rem
    }
}

.sidebar-module {
    padding: 1rem
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem
}

.sidebar-module-inset ol:last-child,
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child {
    margin-bottom: 0
}

.blog-pagination {
    margin-bottom: 4rem
}

.blog-pagination>.btn {
    border-radius: 2rem
}

.blog-post {
    margin-bottom: 4rem
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999
}

.sharing-icons .nav-item+.nav-item {
    margin-left: 1rem
}

section+#disqus_thread {
    margin-top: 1rem
}

article blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem
}

article div.highlight {
    padding: 5px 5px 0 5px
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5
}

.blog-footer p:last-child {
    margin-bottom: 0
}


/* ./ blog base theme */


/* global bootstrap overrides  (btn-primary, a, etc)  */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--action-color);
    border-color: var(--action-color);
}

a {
    color: var(--action-color);
}

.small {
    color: var(--wbg-lightgray);
}

.wbg-input-text {
    border-radius: 20px;
}

.wbg-button {
    border-radius: var(--border-radius-sm);
}

.btn-outline-secondary.wbg-button {
    border-color: var(--action-color);
    color: var(--action-color);
}

.btn-outline-secondary.wbg-button:hover {
    background: var(--action-color);
    border-color: var(--action-color);
    color: white;
}

.wbg-pagination-btn {
    font-size: 12px;
    color: var(--action-color);
    vertical-align: inherit;
    cursor: pointer;
    background: var(--wbg-lightbluegray);
    padding: 8px;
    border-radius: var(--border-radius-sm);
    transition: all .25s;
}

.wbg-pagination-btn:hover {
    background: var(--action-color);
    color: white;
}

.wbg-pagination-btn.active {
    background: var(--action-color);
    color: white;
}

.wbg-pagination-ul {
    margin-bottom: 0px;
}


/* ./ global bootstrap overrides  (btn-primary, a, etc)  */


/* header top */

@media only screen and (min-width: 991px) {
    .wbg-header-title__block {
        border-left: solid 1px lightgray;
    }
}

.wbg-title {
    font-weight: bold;
    color: var(--wbg-gray);
}

.wbg-subtitle {
    font-size: 12px;
    color: var(--wbg-lightgray);
}


/* ./header top */


/* nav */

@media only screen and (min-width: 991px) {
    .wbg-navbar {
        padding: 0 !important;
    }
}


/* a.navbar-brand.wbg-navbar-brand {
    color: white;
    display: inline-block;
} */


/* @media only screen and (min-width: 376px) {
    a.navbar-brand.wbg-navbar-brand {
        display: none;
    }
} */

.nav-link.active:after {
    top: -1px;
    transform: rotate(180deg);
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid;
    border-left: .5rem solid transparent;
}

.nav-link,
a.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #cdddeb;
}

a.nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    padding: .5rem 0;
    color: white;
    /* border-color: white; */
}

.navbar-toggler span {
    color: white;
}


/* ./nav */


/* header */

.wbg-masthead {
    margin-bottom: 0;
    background-color: var(--action-color);
}

.wbg-header,
.wbg-internal-header {
    background: url("https://images.unsplash.com/photo-1529473814998-077b4fec6770?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80"), rgba(0, 0, 0, 0.7);
    background-repeat: repeat-x;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50% 53%;
    height: 322px;
    display: flex;
    align-items: center;
}

.wbg-header h1,
.wbg-header .form-check-label {
    color: white;
}

.wbg-internal-header {
    height: auto;
    padding-top: 40px;
}

.wbg-internal-header #breadcrumbs,
.wbg-internal-header #breadcrumbs a,
.wbg-internal-header h1,
.wbg-internal-header .fas,
.wbg-internal-header p {
    color: white;
}

.wbg-internal-header #breadcrumbs a {
    font-size: 12px;
}

.wbg-internal-header h1 {
    display: inline-block;
    font-size: 38px;
}

.wbg-internal-header .fas {
    margin-right: 16px;
}


/* ./header */


/* breadcrumb */

.wbg-breadcrumb-separator {
    opacity: .65;
}


/* ./breadcrumb */


/* sidebar */

.sidebar-module li {
    font-size: 16px;
    margin-bottom: 4px;
}

.sidebar-module a.active {
    color: #333;
}

.second-level {
    margin-left: 16px;
}

.wb-ihsn-sidebar-filter {
    /* background-color: #f3f3f3; */
    /* padding: 15px; */
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    padding: 0;
    padding-top: 24px;
    font-size: .85em;
}

@media only screen and (min-width: 768px) {
    .wb-ihsn-sidebar-filter {
        /* border-right: 1px solid rgba(0, 0, 0, .1); */
        /* height: 100vh; */
        border-bottom: none;
        padding-right: 24px;
    }
}


/* ./sidebar */


/* search */

.wbg-input-group {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* border: solid 1px #ced4da; */
    border-radius: 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.wbg-search-text {
    border-radius: 24px 0px 0px 24px;
    border: none;
    height: calc(1.8em + .85rem + 2px);
    border: solid 1px #ced4da;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%); */
}

.wbg-search-button {
    border-radius: 0px 24px 24px 0px;
    border: solid 1px var(--action-color);
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%); */
}


/* search > submit file */

#submit_file {
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: calc(1.8em + .85rem + 2px);
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    border: 1px solid #ced4da;
    border-left: none;
    /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%); */
}

.file-input__label svg {
    height: 16px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
}

.file-input__label .fa-lg {
    color: var(--action-color);
    transition: color;
}

.file-input__label .fa-lg:hover {
    color: var(--action-color--hover);
}


/* ./ search > submit file */

li .page-link {
    color: var(--action-color);
}

li .page-link.active {
    color: white;
    background: var(--action-color);
}


/* ./search */


/* filter by topic  */


/* http://jsfiddle.net/3JJJb/542/ */

#slider {
    width: 400px;
    height: 17px;
    position: relative;
    margin: 100px auto;
    background: #10171D;
    border-radius: 40px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

#slider .bar {
    width: 388px;
    height: 5px;
    /* background: #333; */
    position: relative;
    top: -4px;
    left: 4px;
    /* background: #1d2e38; */
    background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2e38), color-stop(50%, #2b4254), color-stop(100%, #2b4254));
    background: -webkit-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    background: -o-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    background: -ms-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    background: linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2e38', endColorstr='#2b4254', GradientType=1);
    border-radius: 40px;
}

#slider .highlight {
    height: 2px;
    position: absolute;
    width: 388px;
    top: 6px;
    left: 6px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: var(--action-color);
    height: 4px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: 0px;
    z-index: 1;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px 2px 8px 0px rgba(0, 0, 0, 0.2), 0px 4px 16px 0px rgba(0, 0, 0, 0.2), 0px 8px 32px 0px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    background: var(--action-color);
}

input[type="range"]:hover~#rangevalue,
input[type="range"]:active~#rangevalue {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: -75px;
}


/* Tool Tip */

#rangevalue {
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    display: block;
    color: #fff;
    margin: 20px 0;
    position: relative;
    left: 44.5%;
    padding: 6px 12px;
    /* border: 1px solid black; */
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
    border-radius: 20px;
    width: 18px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.5s ease;
    top: -95px;
}

input[type="range"]:focus {
    outline: none;
}


/* ./filter by topic */


/* homepage */

.wbg-homepage-block {
    border-radius: 16px;
    border: var(--light-border);
    box-shadow: var(--shadow-one);
    padding: 62px 24px 24px 24px;
    margin-bottom: 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wbg-homepage-block h3 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.wbg-homepage-block h3 a {
    color: var(--action-color);
}

.wbg-homepage-block p {
    text-align: center;
}

.wbg-homepage-block__fa {
    background-color: red;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: var(--light-border);
    margin-top: -106px;
    margin-bottom: 20px;
    color: var(--action-color);
    /* position: absolute;
     top: -42px;
     left: 60px; */
}

.wbg-homepage-highlight {
    border-radius: 16px;
    border: var(--light-border);
    box-shadow: var(--shadow-one);
    overflow: hidden;
    min-height: 400px;
}

.wbg-homepage-highlight div {
    padding: 24px 24px 8px 24px;
}

.wbg-homepage-highlight h4 {
    font-size: 18px;
    font-weight: bold;
}

.wbg-homepage-highlight h4 a {
    color: var(--action-color);
}


/* ./homepage */


/* sidebar */

.sidebar-module {
    padding-left: 0;
}


/* ./sidebar */


/* listings */

.document-row {
    margin-top: 2rem;
}

.document-row:hover {
    opacity: .8;
    background-color: #f6f7f7;
}

.document-row h5 {
    margin-top: .5rem;
}

.document-row h5 {
    margin-top: .5rem;
}

.document-row h5 a {
    color: var(--action-color);
}

.document-row h5 a:hover {
    color: var(--action-color--hover);
}

.document-row .study-country {
    font-weight: bold;
    margin: 4px auto;
}

.document-row .owner-collection {
    font-size: 0.75rem;
    margin: 8px auto;
}

.document-row .survey-stats {
    font-size: 0.65rem;
    opacity: .7;
    margin: 8px auto;
}

.wbg-badge {
    background: none;
    border: solid 1px var(--wbg-lightgray);
    border-radius: 2px;
    color: var(--wbg-lightgray);
    font-weight: 400;
}

article img {
    max-width: 100%;
    /* height: auto; */
    /* margin: 0px auto; */
}


/* ./ listings */


/* about */

img.wbg-avatar {
    margin-bottom: 1em;
}


/* ./about */


/* custom forms */

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}


/* ./forms */


/* footer */

header .search-section .search-input-field-1,
header .header-search-section .search-input-field-1,
footer .search-section .search-input-field-1,
footer .header-search-section .search-input-field-1 {
    font-weight: normal;
    color: #333333;
    -moz-box-shadow: inset 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: inset 1px 1px 2px #d4d4d4;
    box-shadow: inset 1px 1px 2px #d4d4d4;
    border: 1px solid #d4d4d4;
}

header .footer-newsletter input[type="text"],
footer .footer-newsletter input[type="text"] {
    background-color: #444;
    color: #fff;
    box-shadow: none;
    border: 0px;
}

footer .full-row-footer-components {
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: #262626;
    margin-left: 0px;
    margin-right: 0px;
}

footer .full-row-footer-black-components {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;
}

footer .footer hr {
    border-top: 1px solid #787878;
}

footer .footer h4 {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
}

footer .footer .footer-menu-item ul {
    padding: 0px;
    list-style: none;
}

footer .footer .footer-menu-item ul li {
    font-size: 13px;
    line-height: 17px;
    margin: 0px 0px 8px 0px;
}

footer .footer .footer-menu-item ul li a {
    color: #ffffff;
}

footer .footer .footer-menu-item ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .footer .footer-bottom {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #787878;
    display: block;
    width: 100%;
    opacity: 0.7;
}

footer .footer .list-inline {
    margin-left: 0px;
}

footer .footer .list-inline ul {
    padding: 0px;
    list-style: none;
}

footer .footer .list-inline ul>li {
    padding: 0px;
    line-height: 16px;
    margin: 0px 0px 8px 0px;
}

footer .footer a.disclaimer {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    margin-right: 8px;
    padding-right: 8px;
}

footer .footer a.disclaimer:hover {
    text-decoration: underline;
}

footer .footer a.disclaimer:last-child {
    border-right: 0px solid #d4d4d4;
    margin-right: 0px;
    padding-right: 0px;
}

footer .footer .footer-copy-right {
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
    text-align: right;
    opacity: 0.5;
    margin-top: 4px;
}

footer .footer .footer-bottom-left {
    float: left;
}

footer .footer .footer-bottom-left ul {
    padding: 0px;
    list-style: none;
}

footer .footer .footer-bottom-left ul li {
    float: left;
    margin-top: 4px;
}

footer .footer .footer-bottom-left ul li:last-child {
    margin-top: 4px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    margin-left: 8px;
    padding-left: 8px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
    border-left: 1px solid #e5e5e5;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:hover {
    text-decoration: underline;
}

footer .footer .footer-bottom-right {
    float: right;
}

footer .footer .footer-fraud {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    float: right;
    display: inline-block;
}

footer .footer .footer-fraud a {
    color: #ffffff;
}

footer .footer .footer-fraud a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 991px) {
    footer .footer ul.footer-bottom-left li {
        margin: 0px 0px 8px 0px;
    }
    footer .footer .footer-bottom-right {
        float: none;
    }
    footer .footer .footer-bottom-right .footer-fraud {
        float: left;
    }
    footer .footer .footer-copy-right {
        text-align: left;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    footer .footer .footer-fraud {
        float: none;
        text-align: left;
    }
}

@media (min-width: 391px) and (max-width: 450px) {
    footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
        margin-left: 4px;
        padding-left: 4px;
    }
}

@media (min-width: 320px) and (max-width: 390px) {
    footer .footer .footer-bottom-left ul li a.wbg-partnership {
        margin-left: 8px;
        padding-left: 8px;
    }
    footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
        border-left: 0px;
        margin-left: 4px;
        padding-left: 4px;
    }
}


/*== Begin Social Icon ==*/

footer .social-icon {
    display: block;
    float: left;
    width: 100%;
    border-right: 0px;
}

footer .social-icon ul {
    list-style: none;
    padding: 0px;
}

footer .social-icon ul li {
    float: left;
    padding-right: 16px;
}

footer .social-icon ul li:first-child {
    padding-right: 16px;
}

footer .social-icon ul li:last-child {
    padding-right: 0px;
}

footer .social-icon ul li a:hover {
    text-decoration: none !important;
    border: 0px;
}

footer .social-icon-img img:hover {
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 1200px) {
    footer .social-icon {
        margin: 0px 0px 32px 0px;
    }
}


/*== End Social Icon ==*/


/* input text field */

footer .footer-newsletter input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px 64px 10px 10px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius-sm);
}


/* ./ input text field */

footer {
    /*== Begin footer global Language dropdown ==*/
    /*== End footer global Language dropdown ==*/
}

footer .lang-switch-wrapper {
    padding: 16px 0px 16px 0px;
    display: inline-block;
}

footer .lang-switch-wrapper span {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 8px;
    color: #ffffff;
    float: left;
}

footer .lang-switch-wrapper img {
    width: 10px;
    margin-left: 5px;
    margin-top: -3px;
    display: inline-block;
}

footer .lang-switch-wrapper .lang-switch {
    display: inline-block;
    text-align: right;
    height: 30px;
    min-width: 94px;
    font-size: 12px;
    line-height: 16px;
    background-color: #0071BC;
    padding: 8px;
    margin-right: 8px;
}

footer .lang-switch-wrapper .lang-switch .lang-lable {
    text-transform: uppercase;
}

footer .lang-switch-wrapper .lang-switch ul {
    padding: 0px;
    text-align: center;
}

footer .lang-switch-wrapper .lang-switch ul li {
    list-style: none;
}

footer .lang-switch-wrapper .lang-switch ul li a {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    vertical-align: top;
}

footer .lang-switch-wrapper .lang-switch .text {
    padding-right: 8px;
}

footer .lang-switch-wrapper .lang-switch .dropdown-menu {
    margin: 0px 0px 7px -8px;
    border-radius: 0px;
    float: right;
    left: initial;
    min-width: 90px;
    background-color: #0071BC;
}

footer .lang-switch-wrapper .lang-switch .dropdown-menu>li>a:hover,
footer .lang-switch-wrapper .lang-switch .dropdown-menu>li>a:focus {
    background-color: #004c92;
}


/* ./footer */