/* Overrides for WBG */

:root {
    --action-color: hsl(204,100%,37%,1);
    --wbg-gray: hsl(0, 0%, 20%, 1);
    --wbg-lightgray: hsl(0,0%,51%,1);

    --light-border: solid 1px hsl(203, 17%, 91%, 1);
    --shadow-one: 0px 2px 4px rgba(0, 0, 0, 0.1);
}




html,
body {
    overflow-x: hidden
}

/* blog base theme */

@media (min-width:48em) {
    html {
        font-size: 18px
    }
}

body {
    color: #555
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #333
}

.h1 a,
.h1 a:focus,
.h1 a:hover,
.h2 a,
.h2 a:focus,
.h2 a:hover,
.h3 a,
.h3 a:focus,
.h3 a:hover,
.h4 a,
.h4 a:focus,
.h4 a:hover,
.h5 a,
.h5 a:focus,
.h5 a:hover,
.h6 a,
.h6 a:focus,
.h6 a:hover,
h1 a,
h1 a:focus,
h1 a:hover,
h2 a,
h2 a:focus,
h2 a:hover,
h3 a,
h3 a:focus,
h3 a:hover,
h4 a,
h4 a:focus,
h4 a:hover,
h5 a,
h5 a:focus,
h5 a:hover,
h6 a,
h6 a:focus,
h6 a:hover {
    color: inherit;
    text-decoration: none
}

.container {
    max-width: 60rem
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1)
}

.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb
}

.nav-link:focus,
.nav-link:hover {
    color: #fff;
    background-color: transparent
}

.nav-link.active {
    color: #fff
}

.nav-link.active a {
    color: #fff
}

@media screen and (min-width: 376px) {
    .nav-link.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -.3rem;
        vertical-align: middle;
        content: "";
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid;
        border-left: .3rem solid transparent
    }
}



.blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400
}

.blog-description {
    font-size: 1.1rem;
    color: #999
}

@media (min-width:40em) {
    .blog-title {
        font-size: 3.5rem
    }
}

.sidebar-module {
    padding: 1rem
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem
}

.sidebar-module-inset ol:last-child,
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child {
    margin-bottom: 0
}

.blog-pagination {
    margin-bottom: 4rem
}

.blog-pagination>.btn {
    border-radius: 2rem
}

.blog-post {
    margin-bottom: 4rem
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999
}

article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto
}

.sharing-icons .nav-item+.nav-item {
    margin-left: 1rem
}

section+#disqus_thread {
    margin-top: 1rem
}

article blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem
}

article div.highlight {
    padding: 5px 5px 0 5px
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5
}

.blog-footer p:last-child {
    margin-bottom: 0
}

/* ./ blog base theme */

/* global bootstrap overrides  (btn-primary, a, etc)  */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.btn-primary {
    background-color: var(--action-color);
    border-color: var(--action-color);
}

a {
    color: var(--action-color);
}

.small {
    color: var(--wbg-lightgray);
}

.wbg-input-text {
    border-radius: 20px;
}

.wbg-button {
    border-radius: 20px;
}

/* ./ global bootstrap overrides  (btn-primary, a, etc)  */

/* header top */

.wbg-header-title__block {
    border-left: solid 1px lightgray;
}

.wbg-title {
    font-weight: bold;
    color:var(--wbg-gray);
}

.wbg-subtitle {
    font-size: 12px;
    color: var(--wbg-lightgray);
}

/* ./header top */


/* nav */

@media only screen and (min-width: 376px) {
    .wbg-navbar {
        padding: 0 !important;
    }
}

/* a.navbar-brand.wbg-navbar-brand {
    color: white;
    display: inline-block;
} */

/* @media only screen and (min-width: 376px) {
    a.navbar-brand.wbg-navbar-brand {
        display: none;
    }
} */

.nav-link.active:after {
    top: -1px;
    transform: rotate(180deg);
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid;
    border-left: .5rem solid transparent;
}

.nav-link, 
a.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #cdddeb;
}

a.nav-link {
    padding: 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    padding: .5rem 0;
    color: white;
    /* border-color: white; */
}

.navbar-toggler span {
    color: white;
}

/* ./nav */


/* header */
.wbg-masthead {
    margin-bottom: 0;
    background-color: var(--action-color);
}

.wbg-header, 
.wbg-internal-header {
    background: url("https://images.unsplash.com/photo-1529473814998-077b4fec6770?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80"), rgba(0, 0, 0, 0.7);
    background-size: 80%;
    background-blend-mode: multiply;
    background-position: 50% 53%;
    height: 322px;
    display: flex;
    align-items: center;
}

.wbg-header h1,
.wbg-header .form-check-label {
    color: white;
}

.wbg-internal-header {
    height: auto;
    padding-top: 40px;
}

.wbg-internal-header #breadcrumbs,
.wbg-internal-header #breadcrumbs a,
.wbg-internal-header h1,
.wbg-internal-header .fas,
.wbg-internal-header p {
    color: white;
}

.wbg-internal-header #breadcrumbs a {
    font-size: 12px;
}

.wbg-internal-header h1 {
    display: inline-block;
    font-size: 38px;
}

.wbg-internal-header .fas {
    margin-right: 16px;
}

/* ./header */

/* breadcrumb */

.wbg-breadcrumb-separator {
    opacity: .65;
}

/* ./breadcrumb */


/* sidebar */

.second-level {
    margin-left: 16px;
}

/* ./sidebar */


/* search */

.wbg-search-text {
    border-radius: 20px 0px 0px 20px;
}

.wbg-search-button {
    border-radius: 0px 20px 20px 0px;
}

/* ./search */


/* homepage */

 .wbg-homepage-block {
     border-radius: 16px;
     border: var(--light-border);
     box-shadow: var(--shadow-one);
     padding: 62px 24px 24px 24px;
     margin-bottom: 72px;
     position: relative;
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .wbg-homepage-block h3 {
     text-align: center;
     font-weight: bold;
     font-size: 26px;
 }

.wbg-homepage-block h3 a {
    color: var(--action-color);
}

 .wbg-homepage-block p {
     text-align: center;
 }

 .wbg-homepage-block__fa {
     background-color: red;
     width: 85px;
     height: 85px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
     border: var(--light-border);
     margin-top: -106px;
     margin-bottom: 20px;
     color: var(--action-color);
     /* position: absolute;
     top: -42px;
     left: 60px; */
 }

 .wbg-homepage-highlight {
    border-radius: 16px;
    border: var(--light-border);
    box-shadow: var(--shadow-one);
    overflow: hidden;
    min-height: 400px;
 }

 .wbg-homepage-highlight div {
    padding: 24px 24px 8px 24px;
 }

 .wbg-homepage-highlight h4 {
    font-size: 18px;
    font-weight: bold;
 }

 .wbg-homepage-highlight h4 a {
     color: var(--action-color);
 }

/* ./homepage */


/* sidebar */

.sidebar-module {
    padding-left: 0;
}

/* ./sidebar */

/* custom forms */

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

/* ./forms */

/* footer */

header .search-section .search-input-field-1,
header .header-search-section .search-input-field-1,
footer .search-section .search-input-field-1,
footer .header-search-section .search-input-field-1 {
    font-weight: normal;
    color: #333333;
    -moz-box-shadow: inset 1px 1px 2px #d4d4d4;
    -webkit-box-shadow: inset 1px 1px 2px #d4d4d4;
    box-shadow: inset 1px 1px 2px #d4d4d4;
    border: 1px solid #d4d4d4;
}

header .footer-newsletter input[type="text"],
footer .footer-newsletter input[type="text"] {
    background-color: #444;
    color: #fff;
    box-shadow: none;
    border: 0px;
}

footer .full-row-footer-components {
    padding-top: 32px;
    padding-bottom: 16px;
    background-color: #262626;
    margin-left: 0px;
    margin-right: 0px;
}

footer .full-row-footer-black-components {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #000;
    margin-left: 0px;
    margin-right: 0px;
}

footer .footer hr {
    border-top: 1px solid #787878;
}

footer .footer h4 {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
}

footer .footer .footer-menu-item ul {
    padding: 0px;
    list-style: none;
}

footer .footer .footer-menu-item ul li {
    font-size: 13px;
    line-height: 17px;
    margin: 0px 0px 8px 0px;
}

footer .footer .footer-menu-item ul li a {
    color: #ffffff;
}

footer .footer .footer-menu-item ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .footer .footer-bottom {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #787878;
    display: block;
    width: 100%;
    opacity: 0.7;
}

footer .footer .list-inline {
    margin-left: 0px;
}

footer .footer .list-inline ul {
    padding: 0px;
    list-style: none;
}

footer .footer .list-inline ul>li {
    padding: 0px;
    line-height: 16px;
    margin: 0px 0px 8px 0px;
}

footer .footer a.disclaimer {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    margin-right: 8px;
    padding-right: 8px;
}

footer .footer a.disclaimer:hover {
    text-decoration: underline;
}

footer .footer a.disclaimer:last-child {
    border-right: 0px solid #d4d4d4;
    margin-right: 0px;
    padding-right: 0px;
}

footer .footer .footer-copy-right {
    font-size: 12px;
    line-height: 26px;
    color: #ffffff;
    text-align: right;
    opacity: 0.5;
    margin-top: 4px;
}

footer .footer .footer-bottom-left {
    float: left;
}

footer .footer .footer-bottom-left ul {
    padding: 0px;
    list-style: none;
}

footer .footer .footer-bottom-left ul li {
    float: left;
    margin-top: 4px;
}

footer .footer .footer-bottom-left ul li:last-child {
    margin-top: 4px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    margin-left: 8px;
    padding-left: 8px;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
    border-left: 1px solid #e5e5e5;
}

footer .footer .footer-bottom-left ul li a.wbg-partnership:hover {
    text-decoration: underline;
}

footer .footer .footer-bottom-right {
    float: right;
}

footer .footer .footer-fraud {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-transform: uppercase;
    float: right;
    display: inline-block;
}

footer .footer .footer-fraud a {
    color: #ffffff;
}

footer .footer .footer-fraud a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@media (min-width: 320px) and (max-width: 991px) {
    footer .footer ul.footer-bottom-left li {
        margin: 0px 0px 8px 0px;
    }

    footer .footer .footer-bottom-right {
        float: none;
    }

    footer .footer .footer-bottom-right .footer-fraud {
        float: left;
    }

    footer .footer .footer-copy-right {
        text-align: left;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    footer .footer .footer-fraud {
        float: none;
        text-align: left;
    }
}

@media (min-width: 391px) and (max-width: 450px) {
    footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
        margin-left: 4px;
        padding-left: 4px;
    }
}

@media (min-width: 320px) and (max-width: 390px) {
    footer .footer .footer-bottom-left ul li a.wbg-partnership {
        margin-left: 8px;
        padding-left: 8px;
    }

    footer .footer .footer-bottom-left ul li a.wbg-partnership:first-child {
        border-left: 0px;
        margin-left: 4px;
        padding-left: 4px;
    }
}

/*== Begin Social Icon ==*/
footer .social-icon {
    display: block;
    float: left;
    width: 100%;
    border-right: 0px;
}

footer .social-icon ul {
    list-style: none;
    padding: 0px;
}

footer .social-icon ul li {
    float: left;
    padding-right: 16px;
}

footer .social-icon ul li:first-child {
    padding-right: 16px;
}

footer .social-icon ul li:last-child {
    padding-right: 0px;
}

footer .social-icon ul li a:hover {
    text-decoration: none !important;
    border: 0px;
}

footer .social-icon-img img:hover {
    opacity: 0.5;
}

@media (min-width: 320px) and (max-width: 1200px) {
    footer .social-icon {
        margin: 0px 0px 32px 0px;
    }
}

/*== End Social Icon ==*/


/* input text field */
footer .footer-newsletter input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px 64px 10px 10px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* ./ input text field */

footer {
    /*== Begin footer global Language dropdown ==*/
    /*== End footer global Language dropdown ==*/
}

footer .lang-switch-wrapper {
    padding: 16px 0px 16px 0px;
    display: inline-block;
}

footer .lang-switch-wrapper span {
    font-size: 12px;
    line-height: 30px;
    font-weight: 600;
    margin-right: 8px;
    color: #ffffff;
    float: left;
}

footer .lang-switch-wrapper img {
    width: 10px;
    margin-left: 5px;
    margin-top: -3px;
    display: inline-block;
}

footer .lang-switch-wrapper .lang-switch {
    display: inline-block;
    text-align: right;
    height: 30px;
    min-width: 94px;
    font-size: 12px;
    line-height: 16px;
    background-color: #0071BC;
    padding: 8px;
    margin-right: 8px;
}

footer .lang-switch-wrapper .lang-switch .lang-lable {
    text-transform: uppercase;
}

footer .lang-switch-wrapper .lang-switch ul {
    padding: 0px;
    text-align: center;
}

footer .lang-switch-wrapper .lang-switch ul li {
    list-style: none;
}

footer .lang-switch-wrapper .lang-switch ul li a {
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    vertical-align: top;
}

footer .lang-switch-wrapper .lang-switch .text {
    padding-right: 8px;
}

footer .lang-switch-wrapper .lang-switch .dropdown-menu {
    margin: 0px 0px 7px -8px;
    border-radius: 0px;
    float: right;
    left: initial;
    min-width: 90px;
    background-color: #0071BC;
}

footer .lang-switch-wrapper .lang-switch .dropdown-menu>li>a:hover,
footer .lang-switch-wrapper .lang-switch .dropdown-menu>li>a:focus {
    background-color: #004c92;
}


/* ./footer */